@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400|Open+Sans:300,300i,400,600,700,800');
@import './css/bootstrap.css';
@import './css/stack-interface.css';
@import './css/socicon.css';
@import './css/lightbox.min.css';
@import './css/lightbox.min.css';
@import './css/flickity.css';
@import './css/iconsmind.css';
@import './css/jquery.steps.css';
@import './css/theme.css';
@import './css/custom.css';


a {
    text-decoration: none !important;
}

.p {
    &-1 {
        padding-left: 1rem;

        &-lg {
           @media screen and (max-width: 480px) {
            padding-left: 1rem;
            padding-right: 1rem;
            }
        }
    }
}

.round {
    border-radius: 50%;
}

.custom__input {
    border: none !important;
    outline: none;
    background: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
    
    &--text {
        
    }

    &--resize-n {
        resize: none;
        overflow: hidden;

        &::-webkit-input-placeholder {
            color: #2525229c !important;
        }
    }
}

.border-n {
    border: none !important;
    outline: none !important;

    &:focus {
        outline: none;
    }
}

.size--1 {
    font-size: 2rem;
    font-weight: 300;
    @media (min-width: 780px) {
        font-size: 3.2rem !important;   
    }
    
}

.custom__notification {
    min-width: 250px;
    @media (min-width: 780px) {
        min-width: 30rem;
    }
}